<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Todo App</title>
</head>
<body>
    <h1>My Todo Lists</h1>
    <form th:action="@{todo/list}" method="post">
        <input type="text" th:field="*{newList.name}" placeholder="New list name">
        <button type="submit">Create List</button>
    </form>

    <!-- Отображение существующих списков -->
    <div th:each="list : ${lists}">
        <h2 th:text="${list.name}"></h2>


        <!-- Форма добавления задачи -->
        <form th:action="@{/todo/task}" method="post">
            <input type="hidden" name="listId" th:value="${list.id}">
            <input type="text" name="taskDesc" placeholder="New task">
            <button type="submit">Add Task</button>
        </form>

        <ul>
            <li th:each="task : ${list.tasks}"
            th:text="${task.description}"
            th:style="${task.completed} ? 'text-decoration: line-through' : ' ' ">

            </li>
        </ul>
    </div>

</body>
</html>